{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>
            Mi imagen del Coliseo 
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus animi facere architecto nobis saepe necessitatibus pariatur ad, vero quisquam ratione magni laboriosam laborum perferendis, libero error asperiores eligendi incidunt corrupti.
        </p>
    </div>

    <div class="col-4">
       <img src = "assets/img/coliseo.jpg" class = "img-thumbnail" >
    </div>
    
</div>
   

{{> footer }}